{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<h2>{{ attributesVal.product_attribute }}</h2>
<ul>
<li>Value : {{ attributesVal.value }}</li>
<li>Position : {{ attributesVal.position }}</li>
</ul>
<p><a href="{% url 'attribute-update' attributesVal.id %}" class="btn btn-primary">modifier</a></p>
<p><a href="{% url 'attribute-delete' attributesVal.id %}" class="btn btn-danger">supprimer</a></p>
<td><a href="{% url 'attributes-list' %}">Retour à la liste d'attribute</a></td>
{% endblock %}