{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
<thead>
<th>Nom</th>
<th>Code</th>
<th>Prix HT</th>
<th>Prix TTC</th>
<th>Date Création</th>
<th>Modifier</th>
<th>Supprimer</th>
</thead>
<tbody>
{% for prdct in products %}
<tr>
<td><a href="{% url 'product-detail' prdct.id %}">{{ prdct.name }}</a></td>
<td>{{ prdct.code }} </td>
<td>{{ prdct.price_ht }} </td>
<td>{{ prdct.price_ttc }} </td>
<td>{{ prdct.date_creation }} </td>
<td><a href="{% url 'product-update' prdct.id %}" class="btn btn-primary">modifier</a></td>
<td><a href="{% url 'product-delete' prdct.id %}" class="btn btn-danger">supprimer</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url 'product-add' %}">Créer un nouveau produit</a></p>
<p>
    J'ai
    {% if prdcts|length < 5 %}
    peu de
    {% elif prdcts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    produits préférés.
</p>
{% endblock %}