{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>Liste des ATTRIBUTES</h1>
{% endblock %}
{% block contenu %}

<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
    value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>

<table class="table">
<thead>
<th>Catégorie</th>
<th>Valeurs</th>
<th>Position</th>
<th>Modifier</th>
<th>Supprimer</th>
</thead>
<tbody>
{% for attribute in productAttributeValue %}
<tr>
<td><a href="{% url 'attributeValue-detail' attribute.id %}" class="btn btn-primary mt-2">{{ attribute.product_attribute}}</a></td>
<td>{{ attribute.value }}</td>
<td>{{ attribute.position }}</td>
<!-- <td><a href="{% url 'attribute-update' attribute.id %}" class="btn btn-warning mt-2">Modifier</a></td>
<td><a href="{% url 'attribute-delete' attribute.id %}" class="btn btn-danger mt-2">Supprimer</a></td> -->
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}