{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}

<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
    value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>

<table class="table">
<thead>
<th>Nom</th>
<th>Code</th>
<th>Prix HT</th>
<th>Prix TTC</th>
<th>Date Création</th>
<th>Modifier</th>
<th>Supprimer</th>
</thead>
<tbody>
{% for prdct in products %}
<tr>
<td><a href="{% url 'product-detail' prdct.id %}" class="btn btn-primary">{{ prdct.name }}</a></td>
<td>{{ prdct.code }} </td>
<td>{{ prdct.price_ht }} </td>
<td>{{ prdct.price_ttc }} </td>
<td>{{ prdct.date_creation }} </td>
<td><a href="{% url 'product-update' prdct.id %}" class="btn btn-warning">modifier</a></td>
<td><a href="{% url 'product-delete' prdct.id %}" class="btn btn-danger">supprimer</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<p><a href="{% url 'product-add' %}" class="btn btn-primary">Créer un nouveau produit</a></p>
<p>
    J'ai
    {% if prdcts|length < 5 %}
    peu de
    {% elif prdcts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    produits préférés.
</p>
{% endblock %}