{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>Liste des ATTRIBUTES</h1>
{% endblock %}
{% block contenu %}
<table class="table">
<thead>
<th>Nom</th>
<th>Valeurs</th>
<th>Position</th>
<th>Actions</th>
</thead>
<tbody>
{% for attribute in productattributes %}
<tr>
<td><a href="{% url 'attribute-detail' attribute.id %}" class="btn btn-primary mt-2">{{ attribute.name}}</a></td>
<td>
    {% for value in attribute.productattributevalue_set.all %}
    <p>{{ value.value }}</p>
    {% empty %}
    <p>Aucune valeur</p>
    {% endfor %}
</td>
<td>
    {% for value in attribute.productattributevalue_set.all %}
    <p>{{ value.position }}</p>
    {% empty %}
    <p>Aucune valeur</p>
    {% endfor %}
</td>
<td>
<a href="{% url 'attribute-update' attribute.id %}" class="btn btn-warning mt-2">Modifier</a>
<a href="{% url 'attribute-delete' attribute.id %}" class="btn btn-danger mt-2">Supprimer</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}